

/*p{

color:red;

}*/


    .red{
    background-color: #f00;
  }
    .green{
    background-color: #0f0;
} 
    .blue{
    background-color: #00f;
 }
   .cyan{
    background-color: #0ff;
} 
    .magenta{
    background-color: #f0f;
}
    .yellow{
    background-color: #ff0;
}
    .black{
    background-color: #000;
    color:white;
  }
