body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row{

}
.meme{
    height: 300px;
    width: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}